input {
  margin-bottom: 5vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: black;
  border-color: #37474F;
  margin-left: 5% !important;
  width:80% !important;
}

html,body{
  margin:0;
  display: table;
  height: 100%;
  width: 100%
}

.list-group-item {
	border: 2px solid #37474F;
}

input[type=text]{
  margin-bottom: 5vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color:transparent;
  outline: none;
  color: black;
  border-color: #37474F;
}

input[type=checkbox]{
	margin-left: 0px !important;
}

.col-md-3 button{
	margin-top: -10% !important;
}

.fa-eye{
	color:#17a2b8;
}
.fa-trash{
	color:red;
}
.col-xl-6 a{
  color:#37474f;
}
.wrapper{
  padding: 1%;
  height: auto;
}
.h1Margin-Top10{
  margin-top: 5%; 
}
.page-link{
	color: #17a2b8;
}
.card18Porcent {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 2rem;
    margin-top: 18%;
    border: 2px solid #37474F;
}

.shadow-lg {
    margin-top: 16%;
}

.col-xl-7{
    margin-top: 10% !important;
}
footer{
  display: table-row;
  height: 1%;
  background:#37474F;
  text-align: center;
}

footer p{
  color:white;
}

.white{
  color:white;
}

.dark{
  color:#9e9e9e !important;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #37474F !important;
}

.bg-dark {
    background-color: #37474F!important;
}